In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel(r'D:\data\internship\5\Task 1\Marks.xlsx')
df.head()

  Student  English      Urdu     Maths
0     Ali      7.0  6.000000  6.500000
1    Arif      8.0  6.714286  6.285714
2   Usman      9.0  6.500000  9.000000
3  Kashif      8.0  6.285714  7.000000
4  Subhan      8.0  9.000000  7.000000

In [3]:
print('English Average:',df['English'].mean().round(2))
print('Urdu Average:',df['Urdu'].mean().round(2))
print('Maths Average:',df['Maths'].mean().round(2))

English Average: 7.23
Urdu Average: 7.11
Maths Average: 7.16

In [4]:
averages = df[['English', 'Urdu', 'Maths']].mean(axis=1)
for student, avg in zip(df['Student'], averages):
    print(f" {student} Average: {avg:.2f}")

 Ali Average: 6.50
 Arif Average: 7.00
 Usman Average: 8.17
 Kashif Average: 7.10
 Subhan Average: 8.00
 Naeem Average: 7.67
 Haseeb Average: 6.33
 Noman Average: 7.90
 Saeed Average: 6.50
 Shariq Average: 6.76
 Kumail Average: 8.00
 Shoaib Average: 7.00
 Tehreem Average: 7.24
 Noureen Average: 8.00
 Tehmeena Average: 7.67
 Alishba Average: 6.67
 Sana Average: 7.57
 Aeman Average: 6.67
 Asma Average: 5.67
 Naima Average: 6.90

In [9]:
max_index = averages.idxmax()
top_name = df.loc[max_index, 'Student']
top_average = averages[max_index]

print(f"The highest average is {top_average:.2f} by {top_name}")

The highest average is 8.17 by Usman