In [13]:
import pandas as pd

# 1. Load the dataset
df = pd.read_csv(r"D:\data\internship\5\Task 4\tip.csv")

# 2. Display the first few rows to understand its structure
print("Dataset Preview:")
df.head()

Dataset Preview:

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [5]:
# 3. Get overall descriptive statistics (mean, std, min, max, etc.)
print("\nDescriptive Statistics:")
df.describe()

Descriptive Statistics:

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [10]:
print("\nMean Values:")
print(df.mean(numeric_only=True))

print("\nMedian Values:")
print(df.median(numeric_only=True))

print("\nMinimum Values:")
print(df.min(numeric_only=True))

print("\nMaximum Values:")
print(df.max(numeric_only=True))

print("\nStandard Deviation:")
print(df.std(numeric_only=True))

Mean Values:
total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

Median Values:
total_bill    17.795
tip            2.900
size           2.000
dtype: float64

Minimum Values:
total_bill    3.07
tip           1.00
size          1.00
dtype: float64

Maximum Values:
total_bill    50.81
tip           10.00
size           6.00
dtype: float64

Standard Deviation:
total_bill    8.902412
tip           1.383638
size          0.951100
dtype: float64

In [11]:
print("\nMissing Values per Column:")
df.isnull().sum()

Missing Values per Column:

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64